<div class="container-show">
  <div class="background-show">
    <%= image_tag "home_flowers.jpeg", class:"background-show-img"%>
  </div>
  <div class="background-show-txt">
    <h1>L'entre-deux-pommes</h1>
    <h2>- Chambre d'hôte -</h2>
  </div>
</div>
