<div class="container-footer">
  <span>
    <span>
      <a href="mailto:lentredeuxpommes@gmail.com" target="_self">lentredeuxpommes@gmail.com</a>
    </span>
    <span>
      /
    </span>
    <span>
      <a href="tel:06" >+33 (0)670834578</a>
    </span>
  </span>
  <p>
    <span>
      608 route de la guiberdière, Lézigné, France
    </span>
  </p>
  <span>
    <span>
      <%= link_to 'Mentions légales', legal_path, class: 'footerli' %>
    </span>
    <span>
      /
    </span>
    <span>
      <%= link_to 'Politique de confientialité', policy_path, class: 'footerli' %>
    </span>
  </span>
</div>
