<div class="container-footer">
  <span>
    <span>
      <a href="mailto:chambre.hote@gmail.com" target="_self">chambres.hote@gmail.com</a>
    </span>
    <span>
      /
    </span>
    <span>
      <a href="tel:06" >+33 (0)678939873</a>
    </span>
  </span>
  <p>
    <span>
      177 boulevard Camille flammarion 13004 Marseille
    </span>
  </p>
  <span>
    <span>
      <%= link_to 'Mentions légales', legal_path, class: 'footerli' %>
    </span>
    <span>
      /
    </span>
    <span>
      <%= link_to 'Politique de confientialité', policy_path, class: 'footerli' %>
    </span>
  </span>
</div>
