<footer class="footer" data-controller="reveal">
  <div class="footer-line"></div>

  <div class="footer-inner">

    <!-- LOGO -->
    <div class="footer-logo">
      <%= image_tag "logo.png",
          alt: "Logo L'Entre Deux Pommes",
          class: "footer-logo-img" %>
    </div>

    <!-- CONTACT -->
    <div class="footer-contact">

      <a data-controller="contact-protect"
        data-contact-protect-user-value="lentredeuxpommes"
        data-contact-protect-domain-value="gmail.com">
      </a>

      <span class="separator">•</span>

      <a data-controller="contact-protect"
        data-contact-protect-phone-value="+33677320728">
      </a>

    </div>

    <!-- ADRESSE -->
    <div class="footer-address">
      608 route de la Guiberdière — Lézigné, France
    </div>

    <!-- LIENS -->
    <div class="footer-links">
      <%= link_to 'Mentions légales', legal_path %>
      <span class="separator">•</span>
      <%= link_to 'Politique de confidentialité', policy_path %>
    </div>

    <!-- COPYRIGHT -->
    <div class="footer-bottom">
      © <%= Time.current.year %> L’Entre Deux Pommes — Tous droits réservés
    </div>

  </div>
</footer>
