<span>
  <span>
    <a href="mailto:chambre.hote@gmail.com" target="_self">chambres.hote@gmail.com</a>
  </span>
  <span>
    <a href="tel:06" >+33 (0)6</a>
  </span>
</span>
<p>
  <span>
    adresse
  </span>
</p>
<span>
  <span>
    <a href="">Mentions légales</a>
  </span>
  <span>
    <a href="">Politique de confientialité</a>
  </span>
</span>
