<div class="navbarbox">
  <nav class="navbar">
    <ul class="navbarul">
      <li class="navbarli">Bienvenue</li>
      <li class="navbarli">Accueil</li>
      <li class="navbarli">Les chambres d'hôte</li>
      <li class="navbarli">Contact</li>
    </ul>
  </nav>
</div>
