<div class="navbarbox">
  <nav class="navbar">
    <ul class="navbarul">
      <%= link_to 'Bienvenue', welcome_path, class: 'navbarli' %>
      <%= link_to 'Accueil', home_path, class: 'navbarli' %>
      <%= link_to "Les chambres d'hôte", index_path, class: 'navbarli' %>
      <%= link_to 'Contact', contact_path, class: 'navbarli' %>
    </ul>
  </nav>
</div>
