<div class="navbarbox" data-controller="burger">
  <nav class="navbar">
    <button class="burger" data-action="click->burger#toggle">☰</button>
    <ul class="navbarul" data-burger-target="menu">
      <li><%= link_to 'Accueil', root_path, class: 'navbarlink' %></li>
      <li><%= link_to 'Chambres', rooms_path, class: 'navbarlink' %></li>
      <li><%= link_to 'Activités', activities_path, class: 'navbarlink' %></li>
      <li><%= link_to 'Contact', contact_path, class: 'navbarlink navbarlink--cta' %></li>
    </ul>
  </nav>
</div>
