<div class="background-welcome">
  <div class="background-welcome-img">
    <%= image_tag "site.jpeg", class:"zoom-background"%>
  </div>
  <div class="container-welcome">
    <div class="block-welcome">
      <h1>MANOIR HUART</h1>
      <h2>Chambre d'hôte</h2>
      <%= link_to 'Découvrir le site', home_path, class: 'btn-home' %>
    </div>
  </div>
</div>
