.txt-home {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: justify;
  color: #717070;
}
.panel-img {
  width: 100vw;
  height: auto;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .panel-img-dispo {
    width: 70%;
    margin: auto;

    .panel-img-size {
      width: 30%;
      height: 30vh;
      object-fit: cover;
    }
  }
}
