.background-welcome {
  height: 100vh;
  width: 100vw;
  .background-welcome-img {
    position: relative;
    .zoom-background{
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      overflow: hidden;
      object-fit: cover;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0.8;
      transition: background-size 0.2s ease-out;
    }
  }
  .container-welcome {
    width: 100vw;
    height: 100vh;
    position: absolute;
    font-family: poppins-extralight, poppins, sans-serif;
    .block-welcome {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      h1 {
        color: #FFFF;
        font-weight: lighter;
        font-size: 4em;
        margin-bottom: 0px;
        text-transform: capitalize;
      }

      h2 {
        color: #FFFF;
        font-weight: lighter;
        font-size: 1.4em;
        text-transform: uppercase;
      }

      .btn-home {
        padding: 25px;
        border-radius: 25px;
        color: aliceblue;
        text-decoration: none;
        background-color: #7d8295;
      }
      .btn-home:hover {
        background-color: #494c58;
      }
    }
  }
}
