<%= render "components/navbar" %>
<section class="home-intro" data-controller="reveal">

  <div class="home-intro-inner">

    <!-- MOSAÏQUE -->
    <div class="home-gallery">
      <% @home_photos.each do |photo| %>
        <% photo.image_paths.first(6).each do |image| %>
          <div class="gallery-item">
            <%= image_tag image,
              data: {
                action: "click->lightbox#open",
                lightbox_image_url: asset_path(image)
              } %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- TEXTE -->
    <div class="home-text">

      <span class="home-subtitle">Chambres d’hôtes de charme</span>

      <h2>L’Entre-Deux-Pommes</h2>

      <div class="home-divider"></div>

      <p>
        Il y a une dizaine d’années, nous avons eu un véritable coup de cœur pour cette
        demeure du XVIᵉ siècle et son histoire.
      </p>

      <p>
        Nos chambres sont pensées comme nous aimons les trouver en voyage :
        lumineuses, spacieuses, propices au cocooning.
      </p>

      <p>
        Notre maison est située au milieu de vergers ce qui assure le calme de votre séjour et la beauté des prairies environnantes, à 2H30 de Paris, à 6km de la sortie de l'autoroute A11 Durtal.
      </p>

      <%= link_to "Découvrir nos chambres", rooms_path, class: "home-button" %>

    </div>

  </div>

</section>

<%= render "components/footer" %>
