<%= render "components/navbar" %>
<%= render "components/backgroundheader"%>
<div>
  <div>
    <p>
      Le lieu est propice aux ballades en bord de loir (300m) ou en forêt (2Km), aux ballades en vélos si vous les avez emmenés ou éventuellement en prêt (selon disponibilité). Les activités ne manquent pas dans la région pour les petits et les grands (ballades en bateau, visites de parcs ou de chateaux, canoé-kayak, paddle, visite d'Angers (20km), parc zoolgoqique de La Flèche (15km), parc Terra Bonatica (25km), parc Puy du fou (95km). Nous tenons à votre disposition les adresses de restaurants ou de musées ou activités.
    </p>
  </div>
</div>
<%= render "components/footer" %>
