.container-show{
  position: relative;
  top: 0;
  width: 100vw;
  height: 250px;
  .background-show {
    position: absolute;
    width: 100%;
    height: 100%;

    .background-show-img {
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
      object-fit: cover;
      filter: brightness(1.05) saturate(1.1);
    }
  }
  .background-show-txt {
    position: absolute;
    font-family: poppins-extralight, poppins, sans-serif;
    width: 100%;
    text-shadow: 0 2px 8px rgba(0,0,0,0.2);
    text-align: center;
    top: 65%;
    transform: translateY(-50%);

    h1 {
      margin-top: 0;
      color: #fffacd;
      font-weight: lighter;
      font-size: 3em;
    }

    h2 {
      color: #fffacd;
      font-weight: lighter;
      font-size: 2.4em;
    }

    .btn-home {
      padding: 15px;
      border-radius: 15px;
      color: aliceblue;
      text-decoration: none;
      background-color: #494c58;
    }
  }
}
