.container-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f3f3f3;
  text-align: center;

  span {
    margin: auto;
    span {
      a {
        color: var(--color_txt);
        text-decoration: none;
      }
    }
  }

  p {
    margin: auto;
    color: var(--color_txt);
  }
}
