/* app/assets/stylesheets/application.scss */

/* ===============================
Base
================================ */

body {
  margin: 0;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #2c3e50;
  text-align: center;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #2c3e50;
  text-align: center;
}

:root {
  --color_txt: 74, 74, 74;
}

body.menu-open {
  overflow: hidden;
}


/* ===============================
Vendors
================================ */

@import "vendors/flatpickr.min";

/* ===============================
Components
================================ */

@import "components/navbar";
@import "components/footer";
@import "components/backgroundheader";
@import "components/carousel";
@import "components/legalnotices";
@import "components/privacypolicy";

/* ===============================
Pages
================================ */

@import "pages/home";
@import "pages/welcome";
@import "pages/contact";
@import "pages/indexroom";
@import "pages/showroom";
@import "pages/indexactivitie";
